{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <center><h2 style="color:green">Register Here</h2></center>
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="form-group">

                        {{ registration_form|crispy }}
                    </div>

                    <button class="btn btn-success" type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
